@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Noto+Sans:wght@200;300&family=Source+Sans+Pro:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
    border: none;
    color: purple;
}
body{
    font-family:Montserrat, sans-serif;
    background-color: lightgrey;
}

#nav-bar #name{
    line-height: 75px; 
}

#nav-bar li{
    float: right;
    list-style-type: none;
    margin-right: 30px;
    margin-top: 50px;
}
#nav-bar a{
    text-decoration: none;
    color: inherit;
}
#nav-bar a:hover{
    background-color: #808080;
    color: #ffff;
}
#name{
    float: left;
    font-size: 280%;
    letter-spacing: left;
    margin-top: 40px;
    margin-left: 20px;
}
#nav-bar{
    font-family: Lato, sans-serif;
    font-size: 110%;
    letter-spacing: 1px;
    margin-top: 50px;
}
h1{
    font-family: Lato, sans-serif;
    opacity: 0.8;  
}
.active{
    background-color: #a9a9a9;   
}

#offices, #why-us, #tutor-benefts{
    font-family: Lato, sans-serif;
    font-size: 80%;
    letter-spacing: 1px;
    float:left;
    margin: 30px 20px;
    overflow: hidden; 
    clear: both;
    opacity: 0.8;
}
#home-image{
    margin: 10px;
    height: 680PX;
    width: 100%;
    background: url('../images/home-image.png') no-repeat center center;
    overflow: hidden;
}
#teacher_image{
    margin: 10px;
    height: 400px;
    width: 100%;
    background: url('../images/teacher-image.png') no-repeat center center;
    overflow: hidden;
}

#learner_image{
    margin: 10px;
    height: 400px;
    width: 100%;
    background: url('../images/learner-image.gif') no-repeat center center;
    overflow: hidden;
}